@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

  .container {
    width: 100%;
    height: 100vh;
    background-color: #323232;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .info {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;// cuando se ajusta la pantalla, envía para abajo algún box
    align-items: center;
  }
  
  .info-center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      width: 100%;
      text-align: center;
      color: #fff;
      text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
      font-size: 6rem;
      font-family: "Oswald";
      line-height: 110%;
    }
    h2 {
      justify-content: center;
      width: 100%;
      margin-top: 15px;
      text-align: center;
      color: #fff;
      font-size: 2.5rem;
      font-family: "Poppins";
      line-height: 120%;
      &:nth-of-type(3) {
        width: 100%;
        text-align: center;
        color: rgb(231, 90, 90);
        font-size: 2.5rem;
        font-family: "Poppins";
        line-height: 120%;
      }
    }
    p {
      width: 100%;
      text-align: justify;
      font-size: 1rem;
      color: #fff;
      font-family: "Poppins";
      margin-top: 15px;
    }
    button {
      margin-top: 15px;
      cursor: pointer;
      width: 40%;
      border: none;
      outline: none;
      font-size: 1.4rem;
      color: #5c5c5c;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      box-shadow: 1px 2px 7px rgba(92, 92, 92, 0.3);
      transition: 0.3s all ease;
      &:hover {
        background-color: #ddd;
        box-shadow: 1px 2px 7px rgba(92, 92, 92, 0.8);
        transition: 0.3s all ease;
      }
    }
  }
  
  
  
  
  
  .images {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; //para esconder la barra vertical a causa del y:  de GSAP
  }
  
  .images-left, .images-right{
    display: flex;
    justify-content: center;
    width: 40%;
    
  }
  
  .images-right {
    align-items: flex-end;
  }
  .images-left img,
  .images-right img {
    height: 55%;
  }